<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kym</title>
    <script src="https://www.youtube.com/iframe_api"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <h1 class="text-center text-4xl">KYM</h1>
    <div class="container mx-auto py-4">
        <form action="/search" method="POST" class="p-2 flex justify-center">
            <input type="text" id="search-box" name="search" class="border border-black" placeholder="Search for a Song!">
            <input type="submit" value="Search" class="border border-black">
        </form>

        <div id="searchlist">
            <% if (locals.vidlist) { %>
                <form method="POST" action="/stream">
                    <% vidlist.forEach(v => { %>
                        <button name="video" value="<%= v.vidid %>" type="submit" class="block p-2 my-2 border border-gray-300">
                            <%= v.title %>
                        </button>
                    <% }); %>
                </form>
            <% } %>
        </div>

        <% if (locals.videolink) { %>
        <div class="flex flex-col justify-center items-center flex-wrap gap-3 py-4">
            <button class="cust-audiobtn text-3xl"><i class="bi bi-play-circle-fill"></i></button>
            <input id="custom-vol" type="range" max="100" min="0" value="50" step="10" class="w-48">
        </div>
        <div id="player" style="display:none;"></div>

        <script>
            let player;
            let customPlaying = false;
            let custAudioBtn = document.querySelector(".cust-audiobtn");
            let custVolume = document.querySelector("#custom-vol");

            function onYouTubeIframeAPIReady() {
                player = new YT.Player('player', {
                    videoId: "<%= videolink %>",
                    playerVars: { 'playsinline': 1 },
                    events: {
                        'onReady': onPlayerReady
                    }
                });
            }

            function onPlayerReady(event) {
                player.setVolume(custVolume.value);

                custAudioBtn.addEventListener('click', function() {
                    if (!customPlaying) {
                        customPlaying = true;
                        player.playVideo();
                        custAudioBtn.innerHTML = `<i class="bi bi-stop-circle-fill"></i>`;
                    } else {
                        customPlaying = false;
                        player.pauseVideo();
                        custAudioBtn.innerHTML = `<i class="bi bi-play-circle-fill"></i>`;
                    }
                });

                custVolume.addEventListener('input', function() {
                    player.setVolume(custVolume.value);
                });
            }
        </script>
        <% } %>    
    </div>
</body>
</html>
